<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@Page.Title</title>
    <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="@Functions.HrefEx("ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")"></script>
    <script type="text/javascript" src="@Functions.HrefEx("ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js")"></script>
    <link  href="@Functions.HrefEx("ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" media="all" />
  
    <script type="text/javascript" src="@Href("~/js/systemantics.net-jquery.throbber.min.js")"></script>

    <style type="text/css">
      div.input {margin-bottom: 7px}
    </style>
  </head>

  <body>
    <div id="page">
      <div id="header">
        <p class="site-title">@((Page.Title == null)? "German Value-Added Tax-Relief Reporting" : Page.Title)</p>
        <ul id="menu">
          <li><a href="@Href("~/")">Home</a></li>
          @if (Session["IsAdmin"] != null && ((bool?)Session["IsAdmin"]).Value)
          {
            <li><a href="@Href("~/Account/AccessApprove")">Pending Access Requests</a></li>
          }
          <li><a href="@Href("~/About")">About</a></li>
        </ul>
      </div>
      <div id="main">
        <div id="content">
          @RenderBody()
        </div>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>

</html>
